<span class="contact100-form-title" id="fadeIn">
  <div
    style="
      border-bottom: 2px solid white;
      width: fit-content;
      margin: auto;
      padding: 3px;
      color: white;
    "
    id="border"
  >
    <a id="R">B</a>
    <a id="a">a</a>
    <a id="n">n</a>
    <a id="R">k</a>
    <a id="a">e</a>
    <a id="n">r</a>
    <a id="R">'</a>
    <a id="a">s</a>
    <a> Algorithm</a>
  </div>
</span>

<div class="sections">
  <section class="top" id="top">
    <form action="GET">
      <div class="fieldset">
        <fieldset>
          <legend>
            <label for="frames">ALLOCATION</label>
          </legend>
          <div class="wrap-input100 pb-3 mb-4">
            <input
              required
              class="input100"
              #alloc
              placeholder="Formate :: 2,7,3"
              pattern="[0-9,]*"
            />
            <span class="focus-input100"></span>
          </div>
        </fieldset>
        <fieldset>
          <legend>
            <label for="istring">MAX</label>
          </legend>
          <div class="wrap-input100 pb-3 mb-4">
            <input
              class="input100"
              #max
              placeholder="Formate :: 2,5,7"
              ng-required
              pattern="[0-9,]*"
            />
            <span class="focus-input100"></span>
          </div>
        </fieldset>
      </div>
      <div id="A1" style="display: flex; justify-content: center">
        <fieldset>
          <legend>
            <label for="istring">AVAILABLE</label>
          </legend>
          <div class="wrap-input100 pb-3 mb-4">
            <input
              class="input100"
              #avail
              placeholder="Formate :: 2,5,7"
              ng-required
              pattern="[0-9,]*"
            />
            <span class="focus-input100"></span>
          </div>
        </fieldset>
      </div>
    </form>
    <div id="fullscreen-button" class="bt" type="button">
      <button
        id="load"
        class="spinner"
        (click)="submitValue()"
        value="submit"
        *ngIf="hidetable()"
      >
        SUBMIT
      </button>
      <button
        type="button"
        (click)="addRow(max.value, alloc.value, avail.value)"
        style="font-family: Ubuntu"
      >
        + ADD
      </button>
    </div>
  </section>
  <section class="bottom" id="bottom">
    <div class="card" style="background: none; border: none">
      <div style="display: flex;justify-content: space-between;">
      <button *ngFor="let ito of flow" id="back" (click)="refresh()">
        < BACK
      </button>
      <button id="download" (click)=" openPDF()" style="display: none;"> Download</button>
    </div>
      <div class="card-body text-dark" id="mainTable">
        
        <div class="table" style="display: flex; justify-content: center">
          <table
            class="table table-striped"
            style="width: 80%"
            *ngIf="hidetable()"
          >
            <thead>
              <tr>
                <th style="background: none; border: none; padding: 0">
                  <button
                    type="button"
                    (click)="removeRow()"
                    *ngIf="hidebutton"
                    style="
                      font-family: Ubuntu;
                      margin: 0;
                      height: 38px;
                      width: 117px;
                      background-color: rgb(238, 227, 242);
                      margin-bottom: 2px;
                    "
                  >
                    - DEL
                  </button>
                </th>
                <th colspan="3">ALLOCATION</th>
                <th colspan="3">MAX</th>
                <th colspan="3">AVAILABLE</th>
              </tr>
              <tr>
                <th>No.</th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
              </tr>
            </thead>
            <tbody style="margin: 1px">
              <tr
                *ngFor="let arr of table"
                style="background-color: rgb(238, 227, 242)"
              >
                <td>{{ arr.name }}</td>
                <td>{{ arr.allocA }}</td>
                <td>{{ arr.allocB }}</td>
                <td>{{ arr.allocC }}</td>
                <td>{{ arr.maxA }}</td>
                <td>{{ arr.maxB }}</td>
                <td>{{ arr.maxC }}</td>
                <td>{{ arr.avaA }}</td>
                <td>{{ arr.avaB }}</td>
                <td>{{ arr.avaC }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          id="printProcess"
          style="
            margin-inline: 10%;
            display: none;
            background-color: #dbb0edfa;
            padding: 10px;
            border-radius: 5px;
          "
        >
          <b style="font-weight: 500"> ANSWER : {{ string }} </b>
        </div>
      </div>
    </div>
  </section>
</div>
