

<div class="base-content" style="display: flex;">
    <div class="square"></div>
    <div>
    <h1>VIRTUAL SIMULATION <br> SOFTWARE</h1>
</div>
    
</div>
<p>Real world simulator for CPU Scheduling Algorithms in Operating System Subject designed <br> for College / University Students.</p>
<div style="display:flex ;"> 
<div class="get-started">   
    <a routerLink="Home/Simulators" routerLinkActive="active" class="hero-btn">EXPLORE MORE</a>   
</div>
</div>

<!-- <div id="circle-container">
	<div id="cc">
	<div class="circle" id="five"></div>
	<div class="circle" id="four"></div>
	<div class="circle" id="three"></div>
	<div class="circle" id="two"></div>
	<div class="circle" id="one"></div>
	</div>
</div> -->

<script>
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropDownMenu = document.querySelector('.dropdwon_menu')

    toggleBtn.oneclick = function(){
        dropDownMenu.classList.toggle('open')
    }
</script>