<title>Page Replacement Algorithms</title>
<link
  rel="stylesheet"
  type="text/css"
  href="//cdn.jsdelivr.net/gh/loadingio/ldbutton@v1.0.1/dist/ldbtn.min.css"
/>

<span class="contact100-form-title" id="fadeIn">
  <div
    style="
      border-bottom: 2px solid white;
      width: 350px;
      margin: auto;
      padding: 3px;
      color: white;
    "
    id="border"
  >
    <a id="m">M</a>
    <a id="r">R</a>
    <a id="u">U</a>
    <a> Algorithm</a>
  </div>
</span>
<div class="sections">
  <section class="top" id="top">
    <form action="GET">
      <div class="fieldset">
        <!-- <div class="container-contact100"> -->
        <!-- <div class="wrap-contact100" style="position: absolute;left: 5%;"> -->
        <fieldset>
          <legend>
            <label for="frames">NUMBER OF PAGES</label>
          </legend>
          <div class="wrap-input100 pb-3 mb-4">
            <input
              required
              class="input100"
              #frames
              placeholder="Enter Number of Frames"
            />
            <span class="focus-input100"></span>
          </div>
        </fieldset>
        <fieldset>
          <legend>
            <label for="istring">SEQUENCE OF PAGES</label>
          </legend>
          <div class="wrap-input100 pb-3 mb-4">
            <input
              class="input100"
              #istring
              placeholder="Enter pages seperated by ','"
              ng-required
            />
            <span class="focus-input100"></span>
          </div>
        </fieldset>
      </div>
    </form>
    <div id="fullscreen-button" class="bt" type="button">
      <button
        id="load"
        class="spinner"
        (click)="submit(frames.value, istring.value)"
        value="submit"
      >
        SUBMIT
      </button>

    </div>

  </section>

  <section class="bottom" id="bottom" style="display: none">

    <div class="card" id="tt" style="background: none; border: none">
      <div
        class="card-body text-dark"
        id="mainTable"
        style="display: flex; flex-direction: column"
      >
        <button *ngFor="let ito of flow" id="back" (click)="refresh()">
          Back
        </button>
        <button (click)=" openPDF()"> download</button>
        <div class="table" style="display: flex; justify-content: center">
          <table  class="table table-striped" style="width: 80%">
            <thead>
              <tr
                class="table"
                *ngFor="let ito of keys"
                style="
                  display: table-cell;
                  text-align: center;
                  font-weight: 300;
                  font-size: 21px;
                  border: solid 2.5px black;
                  background-color: #8548c2;
                  color: #f7f2f2;
                "
              >
                {{
                  ito
                }}
              </tr>
            </thead>
            <tbody style="margin: 1px">
              <tr
                class="table table-striped"
                *ngFor="let arr of values"
                style="background-color: #f7f2f2"
              >
                <td *ngFor="let oto of arr" style="border-color: black" [ngStyle]="getcolor(oto)">
                  {{ oto }}
                </td>
              </tr>
            </tbody>
           
          </table>
        </div>

        <div
          id="foot"
          style="
            margin-left: 10%;
            margin-right: 10%;
            display: flex;
            justify-content: center;
            text-align: center;
          "
        >
          <p
            style="
              background-color: #dbb0edfa;
              width: 400px;
              padding: 13px;
              width: 80%;
              font-size: 21px;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            "
          >
            {{ tf }}
          </p>

          <p
            style="
              background-color: #dbb0edfa;
              width: 400px;
              padding: 13px;
              margin-left: 1px;
              width: 80%;
              font-size: 21px;
            "
          >
            {{ tp }}
          </p>

          <p
            style="
              background-color: #dbb0edfa;
              width: 400px;
              padding: 13px;
              margin-left: 1px;
              width: 80%;
              font-size: 21px;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            "
          >
            {{ sp }}
          </p>
        </div>
        <!-- </div> -->
        <div
          id="foot1"
          style="
            margin-left: 10%;
            margin-right: 10%;
            display: flex;
            justify-content: center;
            text-align: center;
          "
        >
          <p
            style="
              background-color: #dbb0edfa;
              width: 400px;
              padding: 11px;
              width: 80%;
              font-size: 21px;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            "
          >
            {{ hr }}
          </p>
          <p></p>

          <p
            style="
              background-color: #dbb0edfa;
              width: 400px;
              padding: 11px;
              width: 80%;
              font-size: 21px;
              margin-left: 1px;
            "
          >
            {{ fr }}
          </p>

          <p
            style="
              background-color: #dbb0edfa;
              width: 400px;
              padding: 11px;
              width: 80%;
              font-size: 21px;
              margin-left: 1px;
            "
          >
            {{ nh }}
          </p>

          <p
            style="
              background-color: #dbb0edfa;
              width: 400px;
              padding: 11px;
              width: 80%;
              font-size: 21px;
              margin-left: 1px;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            "
          >
            {{ nf }}
          </p>
        </div>
      </div>
    </div>

  </section>

 
</div>

