<div class="algo_heading">
    <div class="square2"></div>
    <h1>MRU PAGE REPLACEMENT ALGORITHM</h1>
</div>
<section class="container_docs" data-aos="zoom-in-up">
    <!-- <h1> MRU Page Replacement Algorithm</h1> -->
    <p>The MRU (Most Recently Used) page replacement algorithm is a memory management technique used by operating systems to decide which pages to evict from memory when new pages need to be loaded.It replaces the page that has been most recently used, which means it keeps the pages that have been accessed frequently and recently in memory, and evicts the ones that have not been accessed recently.</p>

    <h4>
        <li>Advantages</li>
    </h4>
    <p>1. It is useful for applications that require access to frequently used data because it keeps the most recently accessed data in memory. wh <br>
        2. It improves the overall performance of the system.</p>

    <h4>
        <li>Disadvantages</li>
    </h4>
    <p>1. It may not be suitable for applications that have a high rate of page faults because it can result in thrashing, where the system spends more time swapping pages in and out of memory than executing instructions.<br>
        2. Average waiting time under the RR policy is often long.<br>
    </p>
    <a routerLink="MRUSimulator" routerLinkActive="active" class="hero-btn">GO TO SIMULATOR</a>
    <br>
</section>