
<div class="sections">
  <section class="top" id="top" style="display: block;">
    <form action="GET">
      <div class="fieldset">
        <fieldset>
          <legend>
            <label for="track">TRACK</label>
          </legend>
          <div class="wrap-input100 pb-3 mb-4">
            <input class="input100" type="text" #track name="track" placeholder="Eg: 90, 23, 39 ..." required />
            <span class="focus-input100"></span>
          </div>
        </fieldset>
        <fieldset>
          <legend>
            <label for="head">HEAD</label>
          </legend>
          <div class="wrap-input100 pb-3 mb-4">
            <input class="input100" placeholder="Eg: 23" type="number" #head name="head" />
            <span class="focus-input100"></span>
          </div>
        </fieldset>


      </div>
      <div id="A1" style="display: flex;justify-content: center; ">
        <fieldset>
          <div style="display: flex; justify-content: center; flex-direction: column; margin: 0;">
          <div>
          <legend>
            <label style="text-align: center;" for="istring">DIRECTION</label>
          </legend>
        </div>

        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" value="l" class="btn-check" name="btnradio" id="btnradio1"  [(ngModel)]="selected" autocomplete="off"/>
          <label class="btn btn-outline-light" for="btnradio1">Left</label>
        
          <input type="radio" value="r"  class="btn-check" name="btnradio" id="btnradio2"  [(ngModel)]="selected" autocomplete="off" />
          <label class="btn btn-outline-light" for="btnradio2">Right</label>
        
          
        </div>
        </div>
        </fieldset>
      </div>
    </form>
    <div style="display: flex;justify-content: center;" id="output">
    <fieldset>
      <legend>
        <label style="text-align: center; margin-bottom: 17px; ">CSCAN</label>
      </legend>
      <div style="display: flex; justify-content: center;">

      <button type="button" (click)="cscan(head.value, track.value)" id="load"
      class="spinner"
      
      
      value="submit">
        CALCULATE
      </button>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        <label style="text-align: center; margin-bottom: 17px; ">SCAN</label>
      </legend>
      <div style="display: flex; justify-content: center;">

      <button type="button" (click)="scan(head.value, track.value)" id="load"
      class="spinner"
      
      
      
      value="submit">
        CALCULATE
      </button>
      </div>
    </fieldset>
  </div>
  </section>
</div>

<section class="bottom" id="bottom" style="display: none;">
  <button *ngFor="let ito of flow" id="back" (click)="refresh()">
    < BACK
  </button>
<!-- <div id="cs" style="display: none;">
  <p id="res">
    Seek Sequence: {{finalarr1}}
  </p>
  <p id="cnt">
    Seek Time: {{finalans1}}
  </p>
</div> -->

<div id="cs" style="margin-left: 20%; margin-right:20%; display: none; justify-content: center; text-align: center;">
          
  <p id="res" style="background-color: #efe8f0; padding: 13px; width: 80%; font-size: 25px;">Seek Sequence: {{finalarr1}}</p>
 
  
  <p id="cnt" style="background-color: #efe8f0; padding: 13px; margin-left: 1px; width: 80%; font-size: 25px;">Seek Time: {{finalans1}}</p>
  
</div>

<div id="s" style="margin-left: 20%; margin-right: 20%; display: none; justify-content: center; text-align: center;">
          
  <p id="res2" style="background-color: #efe8f0; padding: 13px; width: 80%; font-size: 25px;">Seek Sequence: {{finalarr2}}</p>
 
  
  <p id="cnt2" style="background-color: #9551a3; padding: 13px; margin-left: 1px; width: 80%; font-size: 25px;">Seek Time: {{finalans2}}</p>
  
</div>
<div style="display: none; justify-content: center;" id="Chart1">
<div style="height: 442px;width: 879px;">
<canvas id="myChart1" style="background-color:rgb(230, 214, 236);"></canvas>
</div>
</div>
<div style="display: none; justify-content: center;" id="Chart2">
<div  style="height: 442px;width: 879px;">
<canvas id="myChart2" style="background-color: rgb(230, 214, 236);"></canvas>
</div>
</div>
</section>