<nav>
    <div class="menu">
      <div class="logo">
        <a href="#">Disk Scheduling</a>
      </div>
      <ul>
        <li><a href="first.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </div>
  </nav>
  <form>
    <section>
      <div>
        <div id="tr">
          <fieldset>
            <label
              style="
                margin-right: 10px;
                font-size: 25px;
                text-align: center;
                margin-left: 10px;
              "
            >
              Track
            </label>
            <input
              type="text"
              #track
              name="track"
              placeholder="Eg: 90, 23, 39 ..."
              required
            />
          </fieldset>
        </div>
        <div id="hd">
          <fieldset style="width: 285px">
            <label style="margin-right: 10px; font-size: 25px; margin-left: 10px">
              Head
            </label>
            <input placeholder="Eg: 23" type="number" #head name="head" />
          </fieldset>
        </div>
        <div id="op">
          <fieldset
            style="
              width: 300px;
              position: absolute;
              top: 10.2%;
              left: 45%;
              height: 37px;
            "
          >
            <label style="margin-right: 10px; font-size: 25px; margin-left: 10px">
              Direction
            </label>
          </fieldset>
          <fieldset
            style="
              width: 125px;
              text-align: center;
              position: absolute;
              font-size: 22px;
              left: 165%;
              top: 10.2%;
              height: 32px;
            "
          >
            <input type="radio" value="l" name="direction" [(ngModel)]="selected"/>left
          </fieldset>
          <fieldset
            style="
              width: 125px;
              text-align: center;
              position: absolute;
              font-size: 22px;
              left: 224.1%;
              top: 10.2%;
              height: 32px;
            "
          >
            <input type="radio" value="r" name="direction" [(ngModel)]="selected" />right
          </fieldset>
        </div>
        <fieldset
          style="
            width: 400px;
            text-align: left;
            position: absolute;
            font-size: 22px;
            left: 18%;
            top: 46.5%;
            height: 105px;
          "
        >
          <legend>CSCAN</legend>
          <button
            type="button"
            value="submit"
            (click)="cscan(head.value, track.value)"
            style="left: 5%; top: 90%; position: absolute"
          >
            Calculate
          </button>
        </fieldset>
        <fieldset
          style="
            width: 400px;
            text-align: left;
            position: absolute;
            font-size: 22px;
            left: 48%;
            top: 46.5%;
            height: 105px;
          "
        >
          <legend>SCAN</legend>
          <button
            type="button"
            (click)="scan(head.value, track.value);showGraph()"
            style="left: 5%; top: 90%; position: absolute"
          >
            Calculate
          </button>
        </fieldset>
      </div>
    </section>
  </form>
  <div>
      <p id="res">
          Seek Sequence: {{finalarr1}}
      </p>
      <p id="cnt">
          Seek Time: {{finalans1}}
      </p>
  </div>
  
  <div>
      <p id="res2">
          Seek Sequence: {{finalarr2}}
      </p>
      <p id="cnt2">
          Seek Time: {{finalans2}}
      </p>
  </div>
  
  
  <canvas id="mychart"></canvas>