
<div class="algo_heading">
    <div class="square2"></div>
    <h1>BANKER'S ALGORITHM</h1>
</div>
    <section class="container_docs" data-aos="zoom-in-up">
        <p>The banker's algorithm is a deadlock avoidance algorithm used in operating systems. 
            It is used to avoid the occurrence of deadlock by ensuring that the resources are allocated to the processes in a safe manner.The algorithm works by using a set of matrices to represent the available resources.            The algorithm uses these matrices to determine if a particular resource allocation request will leave the system in a safe state, that is, a state in which no deadlock can occur.</p>

        <h4>
            <li>Advantages</li>
        </h4>
        <p>1. It contains various resources that meet the requirements of each process.<br>
            2. Each process should provide information to the operating system for upcoming resource requests, the number of resources, and how long the resources will be held.<br>
        </p>
        <h4>
            <li>Disadvantages</li>
        </h4>
        <p>1. It requires a fixed number of processes, and no additional processes can be started in the system while executing the process.<br>
            2. The algorithm does no longer allows the processes to exchange its maximum needs while processing its tasks.<br>
        </p>
        <a routerLink="BankerSimulator" routerLinkActive="active" class="hero-btn">GO TO SIMULATOR</a>
        <br>
    </section>

