@charset "UTF-8";
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700); */
/* @import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Ubuntu&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");


::selection {
  color: #36304a;
  background: #fff;
}
nav {
  width: 100%;
  padding: 10px 0;
  background-color: #36304a;
}
nav .menu {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul {
  display: inline-flex;
}
.menu ul li {
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child {
  margin-left: 0px;
}
.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover {
  background: #fff;
  color: #36304a;
}

input {
  font-family:popins;
  background: #eaecf2;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  width: 75%;
  color: gray;
  /* background-color: #DDD0C8;; */
}
input:hover{
  width:78%;
}
.controlPanel{
  position: absolute;
  top: 23.9%;
  left: 12.1%;
  
}

body {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.42em;
  background: linear-gradient(45deg,#4158d0,#c850c0);
  color: #fff;
  /* background-color: #d9e5ff; */
  height: 1500px;
  margin: 0px;
}
h1 {
  margin-top: -110px;
  margin-bottom: 66px;
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  color: grey;
}

h2 {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1em;
  padding-bottom: 2em;
  color: grey;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: grey;
  text-decoration: none;
}

.container th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: grey;
}

.container td {
  font-weight: normal;
  font-size: 1em;
  width: 10%;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 75.2%;
  margin: 0 auto;
  display: table;
  padding: 0 0 0 0;
}

.container td,
.container th {
  text-align: center;
 padding: 1%;
}

/* Background-color of the odd rows */

.mainTable tr:nth-child(odd) {
  background-color:#999;
}

/* Background-color of the even rows */
.mainTable tr:nth-child(even) {
  background-color: #b9b9b9
}

.container th {
  background-color: #36304a
}

.container td:first-child {
  color: #323232;
}
#s{
  background-color: #b9b9b9;
  color: black;
}
button {
  background-color: #36304a;
  vertical-align: middle;
  text-align: center;
  font-size: 19px;
  color: rgb(245, 242, 242);
  margin: -50px  auto;
  margin-top: -50px;
  height: 40px;
  width: 119.9px;
  /* border-radius: 7px; */
}

#printProcess {
  display: inline-block;
  /* margin: 150px 0px 20px 20px; */
  /* background-color: #c2d5ff; */
  font-size: 23px;
  /* text-align: center; */
  vertical-align: middle;
  /* height: 70px;
  width: 165px; */
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
  position: absolute;
    background: #36304a;
    margin-top: -144px;
    margin-left: 308px;
    height: 40px;
    width: 67%;
}


@media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) {
    display: none;
  }
}

/* for navbar styles */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200&display=swap");

a {
  text-decoration: none;
  color: #fff;
}
