<div class="d-flex flex-column">
    <div class="card obj mx-5 my-4 border border-0">
      <div class="card-body ">
        <h1 class="card-title play">CPU Scheduling Simulator</h1>
        <p class="bod m-1 my-4">Scheduling Algorithms are Listed below.</p>
      </div>
      <div class="row row-cols-2 row-cols-md-2 g-0">
        <div class="col">
          <div class="card h-75 m-2 custom-bg">
            <img src="../../../assets/Frame5.png" class="card-img-top" alt="..." />
          </div>
        </div>
        <div class="col">
          <div class="card h-75 m-2 custom-bg">
            <img src="../../../assets/Frame3.png" class="card-img-top" alt="..." />
          </div>
        </div>
      </div>
    </div>
     
    <div class="card w-75 m-4 custom-bg">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card w-75 mx-4 mb-4 custom-bg">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card w-75 mx-4 mb-4 custom-bg">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card w-75 mx-4 mb-4 custom-bg">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>  
  </div>
  