<!-- <header>
    <div class="navbar">
    
    <ul class="links">
        <li><a href="draft1.html">< BACK</a></li>
        <li><a href="draft1.html">HOME</a></li>
        <li><a href="draft1.html">DOCS</a></li>
        <li><a href="dev">DEV TEAM</a></li>
        </ul>
        <a href="#" class="action_btn">SIMULATIONS</a>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars" style="color:beige;"></i>
        </div>
        <div class="dropdown_menu">
                <li><a href="home">HOME</a></li>
                <li><a href="dev">DEV TEAM</a></li>
                <li><a href="#" class="action_btn">SIMULATIONS</a></li>
    </div>
    </div> -->
    <div style="display: flex;flex-direction: column; ">
    <div class="base-content1">
        <div class="square1"></div>
        <h1>SELECT AN ALGORITHM TO SIMULATE</h1>
    </div>
    <div class="algo-list">
        <!-- <a routerLink="RRAlgo" routerLinkActive="active" class="action_btn1"> Round Robin Scheduling Algorithm </a>
        <a routerLink="BankersAlgo" routerLinkActive="active" class="action_btn1" > Banker's Algorithm  </a>
        <a routerLink="SCanAlgo" routerLinkActive="active" class="action_btn1"> SCAN / C-SCAN Algorithm  </a>
        <a routerLink="MRUAlgo" routerLinkActive="active" class="action_btn1"> MRU Page Replacement Algorithm </a> -->

        <a routerLink="RRAlgo" routerLinkActive="active" class="action_btn1"> ROUND ROBIN ALGORITHM </a>
        <a routerLink="BankersAlgo" routerLinkActive="active" class="action_btn1" > BANKER'S ALGORITHM  </a>
        <a routerLink="SCanAlgo" routerLinkActive="active" class="action_btn1"> DISK SCHEDULING ALGORITHM  </a>
        <a routerLink="MRUAlgo" routerLinkActive="active" class="action_btn1"> MRU PAGE REPLACEMENT ALGORITHM </a>
    </div>
</div>
    <!-- </header> -->